doctype html
html(ng-app='todoApp')
  head      
    link(rel='stylesheet', href='/css/layout.css')
    block head
    
  body
    #page-container
      #header
        #header-title='Toptal Todo List'
      #content-container-container
        #content-container
          block content 

  block scripts