#error-message {
  color: red;
}

#register-link-container {
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

#password-input,
#username-input {
  margin-bottom: 5px;
}

@media only screen and (min-width: 35em) {  
  #login-page-containter {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
}