#login-link-container {
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (min-width: 35em) {  
  #signup-page-containter {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
}