#todo-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.done-true {
  text-decoration: line-through;
}

#desktop-layout-container {
  display: none;
}

#mobile-layout-container {
  display: block;
}

#due-date-input,
#description-input,
.description-edit-input,
.due-date-edit-input {
  margin-bottom: 5px;
}

.todo-list-item {
  position: relative;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.todo-list-item-edit {
  padding: 10px;
}

.cancel-edit-link {
  margin-left: 20px;
  color: #555;
}

.list-item-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
}

.list-item-details-container {
  margin: 0 20px;
}

.list-item-description {
  font-size: 18px;
  color: #555;
  text-shadow: 1px 1px 1px #FFF;
  line-height: 18px;
}

.due-date {
  font-size: 12px;
  color: #888;
  margin-right: 10px;
  text-shadow: 1px 1px 1px #FFF;
}

.list-item-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

@media only screen and (min-width: 35em) {
  #todo-list {
    margin: 0 10px;
  }

  .todo-list-item:hover {
    background-color: #DDD;
  }

  #right-hand-controls {
    float: right;
  }

  #description-input {
    height: 60px;
  }

  #add-button {
    float: left;
    width: 150px;
    margin-left: 5px;
  }

  #due-date-input {
    float: left;
    width: 150px;
    height: 60px;
    margin-left: 5px;
  }

  #desktop-layout-container {
    display: block;
  }

  #mobile-layout-container {
    display: none;
  }

  #description-input-container {
    overflow: hidden;
  }

  .due-date {
    float: right;
  }

  .list-item-description {
    float: left;
  }

  .edit-submit-button {
    max-width: 100px;
    float: right;
  }

  .due-date-edit-input {
    max-width: 150px;
    float: right;
  }
}