#todo-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.done-true {
  text-decoration: line-through;
}

#header-text {
  text-transform: uppercase;
} 

h1 {
  padding: 0;
  margin: 0;
}