extends layout
block head
  link(rel='stylesheet', href='/css/partials/login.css')
  link(rel='stylesheet', href='/css/partials/signup.css')
  link(rel='stylesheet', href='/css/partials/todo-list.css')

block content 
  div(ng-view)

block scripts
  //TODO: Use minified version for performence
  script(src='js/app.js')
  //Controllers
  script(src='js/controllers/login-controller.js')
  script(src='js/controllers/signup-controller.js')
  script(src='js/controllers/todo-list-controller.js')
  // Services
  script(src='js/services/user-service.js')
  script(src='js/services/todo-service.js')
  script(src='js/services/authentication-service.js')