doctype html
html(ng-app='todoApp')
  head     
    meta(name='viewport', content='width=device-width, user-scalable=no') 
    link(rel='stylesheet', href='/css/layout.css')
    block head
    
  body
    #content-container
      #header-title='do'
      block content 

  block scripts