doctype html
html(ng-app='todoApp')
  head     
    meta(name='viewport', content='width=device-width, user-scalable=no') 
    link(rel='stylesheet', href='/css/libs/bootstrap.min.css')
    link(rel='stylesheet', href='/css/layout.css')
    block head
    
  body
    #content-container
      #header-title='do'
      block content 
 
  script(src='/js/libs/jquery-2.1.0.min.js') 
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js')
  script(src='/js/libs/ui-bootstrap-tpls-0.10.0.min.js')
  block scripts