doctype html
html(ng-app='todoApp')
  head     
    meta(name='viewport', content='width=device-width, user-scalable=no') 
    link(rel='stylesheet', href='/css/layout.css')
    block head
    
  body
    #page-container
      #header
        #header-title='do'
      #content-container-container
        #content-container
          block content 

  block scripts